/* Button Styles */

.button-row {
  padding-bottom: 24px;
  padding-top: 24px;
}

.shootButton {
  background: #111;
  border: none;
  border-radius: 24px;
  color: #E4E4E6;
  display: flex;
  font-size: 11px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: .05rem;
  outline: none;
  padding: 13px 0;
  position: relative;
  text-transform: uppercase;
  transition: all 120ms ease-in-out;
}

.shootButton:hover {
  background: rgba(0, 0, 0, 0.8);
}

.shootButton--label {
  transition: all 120ms ease-in-out;
}

.shootButton:hover .shootButton--label {
  transform: scale(1.03);
}
