body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.row {
  padding-left: 10px;
  padding-right: 10px;
}

.row:hover {
  background: #F4F4F4;
}
